@import "./reset.css";
@import url(../fonts/fonts.css);

body{
  font-family: 'Inter';
  background-color: #0E0E10;
}

h1{
  font-weight: 600;
  font-size: 56px;
  line-height: 87px;
  color: transparent;
  text-align: center;
}

h2{
  font-weight: 600;
  font-size: 42px;
  line-height: 67px;
  text-align: center;
  color: #fff;
}

h3{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  opacity: 70%;
  text-align: center;
  color: #fff;
}

button{
  cursor: pointer;
}